<div>Login</div>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <div>
    <label>Username:</label>
    <input type="text" formControlName="username" />
    <div *ngIf="username.invalid && (!username.untouched || submitted)">
      <div *ngIf="username.errors?.['required']">Username is required</div>
    </div>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" />
    <div *ngIf="password.invalid && (!password.untouched || submitted)">
      <div *ngIf="password.errors?.['required']">Password is required</div>
    </div>
  </div>
  <div>
    <div *ngIf="loginForm.errors?.['incorrectLoginData']">
      Incorrect username or password
    </div>
  </div>
  <button type="submit">Login</button>
</form>
