<div>Register</div>
<form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
  <div>
    <label>Username:</label>
    <input type="text" formControlName="username" />
    <div *ngIf="username.invalid && !username.untouched">
      <div *ngIf="username.errors?.['required']">Username is required</div>
      <div *ngIf="username.errors?.['minlength']">
        Username must be at least 4 characters
      </div>
      <div *ngIf="username.errors?.['taken']">Username is already taken</div>
    </div>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" />
    <div *ngIf="password.invalid && !password.untouched">
      <div *ngIf="password.errors?.['required']">Password is required</div>
      <div *ngIf="password.errors?.['minlength']">
        Password must be at least 8 characters
      </div>
    </div>
  </div>
  <div>
    <label>Confirm Password:</label>
    <input type="password" formControlName="confirmPassword" />
    <div *ngIf="confirmPassword.invalid && !confirmPassword.untouched">
      <div *ngIf="confirmPassword.errors?.['required']">
        Confirm password is required
      </div>
    </div>
    <div *ngIf="isPasswordMismatch">Passwords must match</div>
  </div>
  <button type="submit">Register</button>
</form>
