<div class="currency-conversion-container">
  <div>
    <currency-selector
      [items]="[popularCurrencies, currencies]"
      (currencyChange)="setIsoCodeLeft($event)"
    ></currency-selector>
    <currency-input
      [currencyAmount]="currencyAmountLeft"
      [isoCode]="isoCodeLeft"
      (currencyAmountChange)="setCurrencyAmountLeft($event)"
    ></currency-input>
  </div>
  <img class="two-way-arrows" src="../../../assets/two-way-arrows.png" />
  <div>
    <currency-selector
      [items]="[popularCurrencies, currencies]"
      (currencyChange)="setIsoCodeRight($event)"
    ></currency-selector>
    <currency-input
      [currencyAmount]="currencyAmountRight"
      [isoCode]="isoCodeRight"
      (currencyAmountChange)="setCurrencyAmountRight($event)"
    ></currency-input>
  </div>
  <date-selector (dateChange)="setConversionDate($event)"></date-selector>
</div>
