<tui-combo-box
  [valueContent]="currencyContent"
  [tuiTextfieldLabelOutside]="true"
  [(ngModel)]="selectedCurrency"
  (ngModelChange)="onCurrencyChange($event)"
>
  Choose currency
  <input tuiTextfield />
  <tui-data-list-wrapper
    *tuiDataList
    [itemContent]="currencyContent"
    [items]="items | tuiFilterByInput : matchCurrencyString"
    [labels]="labels"
  ></tui-data-list-wrapper>
</tui-combo-box>

<ng-template #currencyContent let-currency>
  <div>
    <img
      class="flag-image"
      [src]="currency.isoCode | flagIsoCode"
      [alt]="currency.currencyName"
      appImgFallback
    />
    <span class="currency-iso">{{ currency.isoCode }}</span>
    <span>{{ currency.currencyName }}</span>
  </div>
</ng-template>
